*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {min-height: 100vh;

            /* This ensures the image covers the whole screen */
            background-image: url('trainer.jpeg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            background-size: 100vw 100vh;
            font-family: poppins, sans-serif;
        
}

nav{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.48);
}
nav ul{
top: 0;
left: 0;
justify-content: center;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
     padding: 5px 0;
     fontweight: bold;
            border-bottom: 2px solid #FFD700;
}

        



nav li{
    height: 60px;
    margin: 0 10px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    fontweight: bold;
    font-size: 18px;}
    .navlink{
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 30px;
    }

.dropdown-toggle{
    display: flex;
    align-items: center;
}
nav img{
    display: block;
}
nav a:hover{
    background-color: #f0f0f0;
}
nav li:first-child {
    margin-right: auto;
}
.whatsapp-btn{
    background-color: #25D366;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
}

.whatsapp-btn:hover{
    background-color: #1ebe5d;
}
BOOK SESSION BUTTON */

.book-btn{

    background:#f4b400;

    color:black !important;

    padding:12px 24px;

    border-radius:12px;

    font-weight:bold;

    display:flex;

    align-items:center;

    gap:10px;

    transition:0.3s;

    margin-left:15px;
}
